@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white font-[Inter] antialiased;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Эффект неонового дыхания */
@keyframes pulse-slow {

  0%,
  100% {
    box-shadow: 0 0 30px #00C3FF, 0 0 60px #00C3FF;
    opacity: 1;
  }

  50% {
    box-shadow: 0 0 50px #00C3FF, 0 0 100px #00C3FF;
    opacity: 0.8;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 3s infinite ease-in-out;
}

@keyframes glow {

  0%,
  100% {
    opacity: 0.3;
    transform: scale(1);
  }

  50% {
    opacity: 0.6;
    transform: scale(1.1);
  }
}

.animate-glow {
  animation: glow 4s ease-in-out infinite;
}